<div class="sub-header-container">
  <shalom-button-link
    [libelle]="'Annuaire'"
    [color]="'primary'"
    shalomShalomWipPopin
    ></shalom-button-link>
  <shalom-button-link
    [libelle]="'Arbre Généalogique'"
    [color]="'primary'"
    shalomShalomWipPopin
    ></shalom-button-link>
  <shalom-button-link
    [libelle]="'Archives'"
    [color]="'primary'"
    shalomShalomWipPopin
    ></shalom-button-link>
  <shalom-button-link
    [libelle]="'Trésorerie'"
    [color]="'primary'"
    shalomShalomWipPopin
    ></shalom-button-link>
</div>
