@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html{
  height:100%;
  margin: 0;
  background: yellow;
}
body{
  height: inherit;
  margin:inherit;
}

p{
  margin:0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
